/* Here you can change animation settings */

.none-vis {
    visibility: hidden;
    opacity: 0;
    transform: translateX(-50%);
}

.vis {
    visibility: visible;
    animation: ani 0.5s forwards;
}

@keyframes ani {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
